.jumbotron {
    background-image: url("../images/nasa.jpg");
    background-size: 20% 100%;
    background-repeat: no-repeat;
    background-position: left;
    background-color: slategray;
    text-align: center;
    color: #070707;
    font-weight:  900;
  }

  body {

    color: #fdfdfd;
  }